<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Revalia" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/spaceship_style.css" type="text/css" />
		<title>Space Launch</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>